<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
</head>
<body>
</body>
    <div id="app">
        <ul>
            <li v-for="numero in num_repeticao">{{numero}}</li>
        </ul>
        <hr>

        <ul>
            <li v-for="{id, conteudo} in comentarios">{{id}} - {{conteudo}}</li>
        </ul>
        <button @click="adicionarComentario()">Adicionar</button>
        <button @click="removerComentario()">Remover</button>
        <button @click="alterarComentario()">Alterar</button>
        <hr>

        <p><b>Cursos</b></p>
        <ul>
            <li v-for="(curso, chave) in cursos" v-text="chave + ' - ' + curso"></li>
        </ul>
        <hr>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
            </tr>
            </thead>
            <tbody v-for="({titulo, descricao}, id) in cursos2">
                <tr>
                    <td>{{id}}</td>
                    <td>{{titulo}}</td>
                    <td>{{descricao}}</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <ul v-for="({id, titulo}) in publicacoes" :key="id">
            <li style="border: solid 1px">
                {{titulo}}
                <input type="text">
            </li>
        </ul>
        <button @click="misturarOrdem()">Misturar</button>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                cursos: ['Laravel', 'Web Fullstack', 'Python', 'Cybersecurity'],
                cursos2: {
                    1000: {
                        titulo: 'Laravel',
                        descricao: 'Aprenda a mais poderosa ferramenta de PHP.'
                    },
                    1001: {
                        titulo: 'Banco de Dados',
                        descricao: 'Aprenda os principais bancos de dados do mercado.'
                    }
                },
                publicacoes: [
                    { id: 1, titulo: 'Publicação 1'},
                    { id: 2, titulo: 'Publicação 2'},
                    { id: 3, titulo: 'Publicação 3'}
                ],
                num_repeticao: 5,
                comentarios: [
                    { id: 1, conteudo: 'Comentário 1'},
                    { id: 2, conteudo: 'Comentário 2'},
                    { id: 3, conteudo: 'Comentário 3'},
                ]
            },
            methods: {
                misturarOrdem() {
                    misturado = []
                    misturado[0] = this.publicacoes[1]
                    misturado[1] = this.publicacoes[2]
                    misturado[2] = this.publicacoes[0]

                    this.publicacoes = misturado
                },
                adicionarComentario() {
                    this.comentarios.push({id: this.comentarios.length+1, conteudo: 'Novo comentario'})
                    console.log(this.comentarios)
                },
                removerComentario() {
                    this.comentarios.pop()
                    console.log(this.comentarios)
                },
                alterarComentario() {
                    this.$set(
                        this.comentarios,
                        1,
                        {id: this.comentarios[1].id, conteudo: 'Comentário alterado'}
                    )
                    console.log(this.comentarios)
                },
            }
        })
    </script>
</body>
</html>